@model PortalsBuilder.Web.Models.siteSettingMenuBannerBrandTimelineVM
@{
    var branch = Model.branch.FirstOrDefault(x=>x.DisplayInContactPage);

}
<footer class="main-footer">
    @*<div class="pattern-layer-one" style="background-image: url(images/background/pattern-7.png)"></div>
    <div class="pattern-layer-two" style="background-image: url(images/background/pattern-8.png)"></div>*@
    <!--Waves end-->
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    @*<a href="index.html"><img src="@Url.Content(Model.siteSetting.LogoPhoto)" alt=""></a>*@
                                </div>
                                <div class="text"></div>
                                <!-- Social Box -->
                                <ul class="social-box">
                                    @*<li><a href="#" class="fa fa-facebook-f"></a></li>
                                        <li><a href="#" class="fa fa-linkedin"></a></li>
                                        <li><a href="#" class="fa fa-twitter"></a></li>*@
                                    <li><a href="@branch.Email" class="fa fa-google">@branch.Email</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>لینک های کمکی </h5>
                                <ul class="list-link">

                                    @foreach (var item in Model.menu)
                                    {
                                        if (item.IsActive & item.DisplayInFooterMenu & item.ParentId != null)
                                        {
                                            <li><a href="@item.Link">@item.Title </a></li>
                                        }

                                    }

                                    @*<li><a href="#">خدمات ابری </a></li>
        <li><a href="#">پشتیبانی فناوری اطلاعات و مرکز پشتیبانی</a></li>
        <li><a href="#">امنیت سایبری </a></li>
        <li><a href="#">نرم افزار سفارشی </a></li>
        <li><a href="#">مشاوره رایگان</a></li>
        <li><a href="#">رشد تجارت ما</a></li>*@
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget news-widget">
                                <h5>پست های اخیر</h5>
                                <!-- Footer Column -->
                                <div class="widget-content">
                                    <div class="post">
                                        <div class="thumb"><a href="news-detail.html"><img src="images/resource/post-thumb-3.jpg" alt=""></a></div>
                                        <h6><a href="news-detail.html">بهترین فناوری راه حل فناوری اطلاعات جهان را تعریف کنید</a></h6>
                                        <span class="date">خرداد 1400</span>
                                    </div>

                                    <div class="post">
                                        <div class="thumb"><a href="news-detail.html"><img src="images/resource/post-thumb-4.jpg" alt=""></a></div>
                                        <h6><a href="news-detail.html">چارچوب های PHP شما باید در هر کجا استفاده کنید</a></h6>
                                        <span class="date">خرداد 1400</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h5>تماس با ما </h5>
                                <ul>
                                    <li>
                                        <span class="icon flaticon-placeholder-2"></span>
                                        <strong>آدرس </strong>
                                        @branch.Address
                                    </li>
                                    <li>
                                        <span class="icon flaticon-phone-call"></span>
                                        <strong>تلفن </strong>
                                        <a href="tel:@(branch.Phone)">@branch.Phone</a>
                                    </li>
                                    <li>
                                        <span class="icon flaticon-email-1"></span>
                                        <strong>ایمیل </strong>
                                        <a href="@branch.Email">@branch.Email</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Column -->
                    <div class="column col-lg-6 col-md-12 col-sm-12">
                        <div class="copyright">کپی رایت 1400 | طراحی سایت و توسعه قالب هامون. تمام حقوق سایت محفوظ می باشد..</div>
                    </div>
                    <!-- Column -->
                    @*<div class="column col-lg-6 col-md-12 col-sm-12">
                        <ul class="footer-nav">
                            <li><a href="#">درباره ما </a></li>
                            <li><a href="#">خدمات </a></li>
                            <li><a href="#">حریم خصوصی </a></li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>

    </div>
</footer>