@page
@model PortalsBuilder.Web.Pages.Admin.Article.IndexModel
@{
}



<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                مقالات
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">مقالات</a></li>
                    <li class="breadcrumb-item active" aria-current="page">مقالات</li>
                </ol>
            </nav>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="/Admin/Article/CreateArticle" class="btn btn-outline-success">جدید</a>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing" class="table">
                                <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>ایجاد کننده</th>
                                        <th>تاریخ ایجاد</th>
                                        <th>عنوان</th>
                                        <th>وضعیت</th>
                                        <th>دسته بندی</th>
                                        <th>تعداد بازدید</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.ListArticle)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.CreatedBy</td>
                                        <td>@item.CreatedAt</td>
                                        <td>@item.Title</td>
                                        <td>@item.IsActive</td>
                                        <td>@item.ArticleCategoryTitle</td>
                                        <td>
                                            @item.ViewCount
                                        </td>

                                        <td>
                                            <button class="btn btn-outline-primary">ویرایش</button>
                                            <button class="btn btn-outline-danger">حذف</button>
                                        </td>

                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                کپی رایت © 2018 . تمام حقوق
                محفوظ است.
            </span>
        </div>
    </footer>
    <!-- partial -->
</div>