@using ShahrKoodak.Core.Convertors
@using ShahrKoodak.Core.Services.Interfaces
@model ShahrKoodak.Core.DTOs.Product.ShowProductListItemViewModel





<div class="col-xl-4 col-md-6">
    <div class="product-grid-view">
        <div class="grid-view-layout2">
            <div class="product-box-layout1 ">
                <div class="item-img">
                    <a href="/ShowProduct/@Model.ProductId" class=""><img src="/product/image/@Model.ImageName" alt="Product"></a>
                </div>
                <div class="item-content">
                    <div class="item-price">
                        @{
                            if (Model.PriceType)
                            {
                                <span class="currency-symbol">توافقی</span>
                            }
                            else
                            {
                                <span class="currency-symbol">@Model.Price.ToString("#,0") تومان</span>
                            }
                        }
                    </div>
                    <div class="item-tag">
                        <a href="#">@Model.GroupTitle</a>
                    </div>
                    <h3 class="item-title"><a href="/ShowProduct/@Model.ProductId">@Model.Title</a></h3>
                    <ul class="entry-meta">
                        <li><i class="far fa-clock"></i>@Model.CreateDate.ToShamsi()</li>
                        @*<li><i class="fas fa-map-marker-alt"></i>مشهد, نیشابور</li>*@
                        <li><i class="far fa-eye"></i>@Model.Counter بازدید</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>