<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- Favicons -->
    <!-- Modernizer js -->

    @RenderSection("MetaTag", false)
    <title> فروشگاه و تبلیغات بابیت| @ViewData["Title"]</title>


    <!--WPA-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <link rel="manifest" href="/manifest.json" />



    <!--For Safari-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Rey20">
    <link rel="apple-touch-startup-image" href="/images/icon-512x512.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/icon-57x57.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/icon-114x114.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/icons/apple-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/images/icons/icon-192x192.png">
    <!--End For Safari-->
    <!--IE-->

    <meta name="msapplication-TileImage" content="/assets/images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <meta name="msapplication-starturl" content="/">
    <meta name="jeeb-verification" content="T3QQ2L3HZUBOXUPC3HHKABOG2EG6HU">

    <!--End IE-->

    <script src="/app.js"></script>







    <!--End WPA-->


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138304907-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-138304907-1');
    </script>

    <!-- Favicon -->
    <!-- CSS
    ========================= -->
    <!-- Plugins CSS -->



    <partial name="_MetaTags" />
    <!-- Bootstrap -->
    <partial name="_Styles" />
    @RenderSection("Styles", false)

</head>






<body>
    <!--loader-->
    <div class="loader-wrap">
        <div class="loader-inner">
            <div class="loader-inner-cirle"></div>
        </div>
    </div>
    <!--loader end-->
    <!-- main start  -->
<div id="main">
    <!-- header -->
    <partial name="_MainMenu" />
    <!-- header end-->
    <!-- wrapper-->
    @RenderBody()
    <!-- wrapper end-->
    <!--footer -->
    <partial name="_Footer" />
        
    <!--footer end -->
    <!--map-modal -->
    <div class="map-modal-wrap">
        <div class="map-modal-wrap-overlay"></div>
        <div class="map-modal-item">
            <div class="map-modal-container fl-wrap">
                <div class="map-modal fl-wrap">
                    <div id="singleMap" data-latitude="40.7" data-longitude="-73.1"></div>
                </div>
                <h3><span>Location for : </span><a href="#">Listing Title</a></h3>
                <div class="map-modal-close"><i class="fal fa-times"></i></div>
            </div>
        </div>
    </div>
    <!--map-modal end -->
    <!--register form -->
    <!--register form end -->
    <a class="to-top"><i class="fas fa-caret-up"></i></a>
</div>
<div style="position: relative !important; z-index: 1000 !important"> 
  
    <div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
        <i class="material-icons">speaker_phone</i>
    </div>
  
    <div class="chat-box">
        <div class="chat-box-header">
            پشتیبانی بابیت
            <span class="chat-box-toggle"><i class="material-icons">close</i></span>
        </div>
        <div class="chat-box-body">
            <div class="chat-box-overlay">   
            </div>
            <div class="chat-logs">
       
            </div><!--chat-log -->
        </div>
        <div class="chat-input">      
            <form>
                <input type="text" id="chat-input" placeholder="پیام خود را تایپ کنید..."/>
                <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
            </form>      
        </div>
    </div>
  
  
  
  
</div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&libraries=places&callback=initAutocomplete"></script>
<script src="/js/map-single.js"></script>
<script>
    function AddToList(id) {
        $.ajax({
            url: "/AddList/AddToList/" + id,
            type: "Post"
        }).done(function (result) {
            $("#AddList").html(result);
           
        });
    }

    $(function () {
        $("#AddList").load("/AddList/ListCount");
    });
  
</script>

    @RenderSection("Scripts", false)
</body>
</html>
