@model List<PortalBuilder.Models.BankAccount>

    <div class="page-wrapper">


        <!-- Pricing Section -->
        <section class="pricing-section">
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    
                    <h2>شماره حساب ها</h2>
                </div>

                <div class="row clearfix">

                    @foreach (var item in Model)
                    {
                        <!-- Price Block -->
                        <div class="price-block col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <h3>@item.Title </h3>
                                <div class="text">@item.BranchTitle</div>
                                
                                <ul class="price-list">
                                    <li>نامه شعبه: @item.BranchTitle </li>
                                    <li>شماره شبا: @item.ShebaNumber </li>
                                    <li> مالک حساب: @item.AccountOwner</li>
                                    <li>توضیحات حساب: @item.Description </li>
                                    
                                </ul>
                                @*<div class="btn-box">
                                    <a href="contact.html" class="theme-btn btn-style-one"><span class="txt">شروع کنید</span></a>
                                </div>*@
                            </div>
                        </div>

                    }


                </div>

            </div>
        </section>
        <!-- End Pricing Section -->


    </div>
