@using ShahrKoodak.Core.DTOs.Product
@model ShahrKoodak.DataLayer.Entities.User.Store
@{
    ViewData["Title"] = @Model.Name;
    var Address = ViewData["Address"];
    var CityName = ViewData["CityName"];
    var WebSite = ViewData["webSite"];
    var Tel = ViewData["Tel"];

}
<section class="store-banner-wrap-layout1">
    <div class="container">
        <div class="store-banner-box" style="background-image: url('/Store/Banner/@Model.Banner')">
            <div class="banner-content">
                <div class="store-logo">
                    <img src="/Store/Logo/@Model.Logo" alt="RadiusTheme">
                </div>
                <div class="store-content">
                    <h2 class="item-title">@Model.Name</h2>
                    <div class="store-tagline">@Model.Shoar</div>
                    <ul class="item-meta">
                        <li><i class="fas fa-map-marker-alt"></i>@CityName, @Address</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=          Product Start         =-->
<!--=====================================-->
<section class="store-wrap-layout2">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8">

                <div id="product-view" class="product-box-grid">
                    <div class="row">

                        @{
                            List<ShowProductListItemViewModel> article = ViewBag.arti as List<ShowProductListItemViewModel>;
                        }
                        @foreach (var item in article)
                        {
                            <div class="col-xl-4 col-md-6">
                                <partial name="_BoxProduct4" model="@item" />
                                </div>
                                }



                            </div>
                        </div>
                <div class="pagination-layout1">
                    <div class="btn-prev disabled">
                        <a href="#"><i class="fas fa-angle-double-left"></i>قبلی</a>
                    </div>
                    <div class="page-number">
                        <a href="#" class="active">1</a>
                    </div>
                    <div class="btn-next">
                        <a href="#">بعدی<i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 sidebar-break-md sidebar-widget-area">
                <div class="widget-lg widget-store-detail widget-light-bg">
                    <h3 class="widget-border-title">جزئیات</h3>
                    <div class="store-content">
                        <p>@Model.Description</p>
                    </div>
                </div>
                <div class="widget-lg widget-author-info widget-store-info widget-light-bg">
                    <h3 class="widget-border-title">اطلاعات فروشنده</h3>
                    <div class="author-content">
                        <div class="store-website">
                            <a href="@WebSite"><i class="fas fa-globe-asia"></i>نمایش وب سایت</a>
                        </div>
                        <div class="store-opening-hour">
                            <span class="item-title"><i class="far fa-clock"></i>ساعات کار</span>
                            <ul>
                                <li><span>شنبه</span>15:00 بعد ظهر - 8:00 قبل ظهر</li>
                                <li><span>یک شنبه</span>15:00 بعد ظهر - 8:00 قبل ظهر</li>
                                <li><span>دوشنبه</span>15:00 بعد ظهر - 8:00 قبل ظهر</li>
                                <li><span>سه شنبه</span>15:00 بعد ظهر - 8:00 قبل ظهر</li>
                                <li><span>چهار شنبه</span>15:00 بعد ظهر - 8:00 قبل ظهر</li>
                                <li><span>پنج شنبه</span>15:00 بعد ظهر - 8:00 قبل ظهر</li>
                                <li><span>جمعه</span>بسته</li>
                            </ul>
                        </div>
                        <div class="phone-number classima-phone-reveal not-revealed" data-phone="@Tel">
                            <div class="number"><i class="fas fa-phone"></i><span>xxxx</span></div>
                            <div class="item-text">برای نمایش شماره تلفن کلیک کنید</div>
                        </div>
                        <div class="author-mail">
                            <a href="#" class="mail-btn" data-toggle="modal" data-target="#author-mail">
                                <i class="fas fa-envelope"></i>ارسال نامه به فروشنده
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================-->