@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<PortalBuilder.Core.DTOs.Menu.ShowMenuForAdminVieWModel>













<div class="header-upper">
    <div class="auto-container clearfix">
        <div class="pull-left logo-box">
            <div class="logo"><a href="index.html"><img src="@ViewBag.logo" alt="" title=""></a></div>
        </div>
        <div class="nav-outer clearfix">
            <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
            <nav class="main-menu navbar-expand-md">
                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">



                    <ul class="navigation clearfix">




                        @foreach (var group in Model.Where(g => g.ParentId == null))
                        {
                            <li class="dropdown">
                                <a href="@group.Link">@group.Title</a>

                                <ul>
                                    @foreach (var sub in Model.Where(g => g.ParentId == group.Id))
                                    {

                                        <li><a href="@sub.Link">@sub.Title </a></li>

                                    }
                                </ul>

                            </li>


                        }


                    </ul>





                </div>
            </nav>
            <div class="outer-box clearfix">
                <div class="search-box-btn search-box-outer"><span class="icon fa fa-search"></span></div>
            </div>
        </div>

    </div>
</div>




















