@using ShahrKoodak.Core.Convertors
@using ShahrKoodak.Core.DTOs.Product
@model ShahrKoodak.DataLayer.Entities.Product.product
@{
    ViewData["Title"] = @Model.ProductTitle;
    var Logo = ViewData["Logo"];
    var StoreName = ViewData["StoreName"];
    var StoreId = ViewData["StoreId"];
    var Address = ViewData["Address"];
    var Tel = ViewData["Tel"];
    var Banner = ViewData["Banner"];
    var CityName = ViewData["CityName"];
}

@section MetaTag
{
    <meta name="googlebot" content="index,follow" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="description" content="@Html.Raw(Model.ShortDescription)" />
    <meta property="og:site_name" value="وب سایت درج آگهی">
    <meta property="og:title" content="@Model.ProductTitle">
    <meta property="og:url" content="vipelm.com/ShowCourse/@Model.ProductTitle" />
    <meta property="og:image" content="/course/image/@Model.ProductImageName">
    <meta property="og:image:url" content="/course/image/@Model.ProductImageName" />
    <meta property="og:image:width" content="700">

    <meta property="og:image:type" content="image/jpg">
    <meta property="og:description" content="">
    <meta property="og:price:currency" content="IRR">
    <meta property="og:locale" content="ir_FA">

}

@section Styles
{

}


<div id="wrapper">
    <!-- content-->
    <div class="content">
        <section class="listing-hero-section hidden-section" data-scrollax-parent="true" id="sec1">
            <div class="bg-parallax-wrap">
                <div class="bg par-elem " data-bg="/Product/Image/@Model.ProductImageName" data-scrollax="properties: { translateY: '30%' }"></div>
                <div class="overlay"></div>
            </div>
            <div class="container">
                <div class="list-single-header-item  fl-wrap">
                    <div class="row">
                        <div class="col-md-9">
                            <h1>@Model.ProductTitle <span class="verified-badge"><i class="fal fa-check"></i></span></h1>
                            <div class="geodir-category-location fl-wrap"> <a href="#"> <i class="fal fa-phone"></i>@Tel</a></div>
                        </div>

                    </div>
                </div>
                <div class="list-single-header_bottom fl-wrap">

                    <div class="list-single-stats">
                        <ul class="no-list-style">
                            <li><span class="viewed-counter"><i class="fas fa-eye"></i> بازدید -  @Model.Counter </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- scroll-nav-wrapper-->
        <div class="scroll-nav-wrapper fl-wrap">
            <div class="container">
                <nav class="scroll-nav scroll-init">
                    <ul class="no-list-style">
                        <li><a class="act-scrlink" href="#sec1"><i class="fal fa-images"></i> بالا</a></li>
                    </ul>
                </nav>
                <div class="scroll-nav-wrapper-opt">
                    <a href="#" class="scroll-nav-wrapper-opt-btn"> <i class="fas fa-heart"></i> ذخیره </a>
                    <a href="#" class="scroll-nav-wrapper-opt-btn showshare"> <i class="fas fa-share"></i> اشتراک </a>
                    <div class="share-holder hid-share">
                        <div class="share-container  isShare"></div>
                    </div>
                    <div class="show-more-snopt"><i class="fal fa-ellipsis-h"></i></div>
                    <div class="show-more-snopt-tooltip">
                        <a href="#"> <i class="fas fa-comment-alt"></i> ارسال نظرات</a>
                        <a href="#"> <i class="fas fa-flag-alt"></i> گزارش </a>
                    </div>
                </div>
            </div>
        </div>
        <section class="gray-bg no-top-padding">
            <div class="container">
                <div class="breadcrumbs inline-breadcrumbs fl-wrap">
                    <a href="/">خانه</a><span>@Model.ProductTitle</span>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <!-- list-single-main-wrapper-col -->
                    <div class="col-md-8">
                        <!-- list-single-main-wrapper -->
                        <div class="list-single-main-wrapper fl-wrap" id="sec2">

                            <div class="list-single-main-item fl-wrap block_box">
                                <div class="list-single-main-item-title">
                                    <h3>توضیحات</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    @Model.ProductDescription
                                </div>
                            </div>
                            <!-- list-single-main-item end -->
                        <!-- list-single-main-item-->
                            <div class="list-single-main-item fl-wrap block_box" id="sec3">
                                <div class="list-single-main-item-title">
                                    <h3>گالری / عکس</h3>
                                </div>
                                <div class="list-single-main-item_content fl-wrap">
                                    <div class="single-carousel-wrap fl-wrap lightgallery">
                                        <div class="sc-next sc-btn color2-bg"><i class="fas fa-caret-right"></i></div>
                                        <div class="sc-prev sc-btn color2-bg"><i class="fas fa-caret-left"></i></div>
                                        <div class="single-carousel fl-wrap full-height">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <!-- swiper-slide-->
                                                    <div class="swiper-slide">
                                                        <div class="box-item">
                                                            <img src="images/all/12.jpg" alt="">
                                                            <a href="images/all/12.jpg" class="gal-link popup-image"><i class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                    <!-- swiper-slide-->
                                                    <div class="swiper-slide">
                                                        <div class="box-item">
                                                            <img src="images/all/24.jpg" alt="">
                                                            <a href="images/all/24.jpg" class="gal-link popup-image"><i class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                    <!-- swiper-slide-->
                                                    <div class="swiper-slide">
                                                        <div class="box-item">
                                                            <img src="images/all/21.jpg" alt="">
                                                            <a href="images/all/21.jpg" class="gal-link popup-image"><i class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                    <!-- swiper-slide-->
                                                    <div class="swiper-slide">
                                                        <div class="box-item">
                                                            <img src="images/all/47.jpg" alt="">
                                                            <a href="images/all/47.jpg" class="gal-link popup-image"><i class="fa fa-search"></i></a>
                                                        </div>
                                                    </div>
                                                    <!-- swiper-slide end-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- list-single-main-item end -->
                           
                           
                          
                           
                        </div>
                    </div>
                    <!-- list-single-main-wrapper-col end -->
                    <!-- list-single-sidebar -->
                    <div class="col-md-4">
                       
                       
                        <!--box-widget-item -->
                        <div class="box-widget-item fl-wrap block_box">
                            <div class="box-widget-item-header">
                                <h3>موقعیت / تماس  </h3>
                            </div>
                            <div class="box-widget">
                                
                                <div class="box-widget-content bwc-nopad">
                                    <div class="list-author-widget-contacts list-item-widget-contacts bwc-padside">
                                        <ul class="no-list-style">
                                            <li><span><i class="fal fa-map-marker"></i> محله :</span> <a href="#">صادقیه</a></li>
                                            <li><span><i class="fal fa-phone"></i> تلفن :</span> <a href="#">@Tel</a></li>
                                        </ul>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <!--box-widget-item end -->
                        <!--box-widget-item -->
                        <div class="box-widget-item fl-wrap block_box">
                            <div class="box-widget-item-header">
                                <h3> حدود قیمت </h3>
                            </div>
                            <div class="box-widget">
                                <div class="box-widget-content">
                                    <div class="claim-price-wdget fl-wrap">
                                        <div class="claim-price-wdget-content fl-wrap">
                                            <div class="pricerange fl-wrap"><span>قیمت : </span> @Model.Price, @Model.PriceType </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                       
                        <!--box-widget-item -->
                        
                        <!--box-widget-item end -->
                       
                    </div>
                    <!-- list-single-sidebar end -->
                </div>
            </div>
        </section>
        <div class="limit-box fl-wrap"></div>
    </div>
    <!--content end-->
</div>